<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShareSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShareSharp.Properties.Settings>
            <setting name="DeliciousUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DeliciousPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="InstapaperUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="InstapaperPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PocketUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="PocketPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PinboardUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="PinboardPassword" serializeAs="String">
                <value />
            </setting>
        </ShareSharp.Properties.Settings>
    </userSettings>
</configuration>